.AddFolder {
    margin: 0px 30px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.form__buttons {
    margin-top: 15px;
}

#submit {
    margin-left: 15px;
}

label {
    margin: 5px 0px;
}
