header > a:link, a:visited {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: larger;
    
}

.container__app {
    display: flex;
}

.sidebar__app {
    flex: 1;
}

.main__app {
    flex: 3;
}